<tr>
  <td class="center aligned"><%= project.id %></td>
  <td class="center aligned"><%= project.name %></td>
  <td class="center aligned"><%= project.start_on %></td>
  <td class="center aligned"><%= project.address %></td>
  <td class="center aligned"></td>
</tr>
